/* Base styles for larger screens */
header {
    text-align: center;
    padding: 5px 15px;
    background-color: #24527a; 
    border-bottom: 2px solid #333;
}

.logo {
    text-align: left;
    max-width: 80px;
    height: 15px;
    margin-right: 5px;
}

.header-title {
    display: block;
    font-size: 34px;
    font-weight: bold;
    color: #ffffff;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 0 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-bar input {
    padding: 5px;
    margin-right: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

body {
    border-top: 2px solid #333;
    margin: 0;
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu li {
    display: block;
    text-align: center;
}

.dropdown-menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
}

.dropdown-menu a:hover {
    background-color: #333;
    color: #fff;
}

footer {
    background-color: transparent;
    padding: 10px 20px;
    border-top: 2px solid #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 15vh;
}

/* Responsive adjustments for small screens */
@media only screen and (max-width: 768px) {
    /* Header title should be centered and the font-size should be reduced */
    .header-title {
        font-size: 24px;
    }

    /* Stack the navigation links vertically */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        margin-bottom: 10px; /* Add space between items */
    }

    /* Adjust the search bar layout */
    .search-bar {
        margin-left: 0;
        justify-content: center;
        width: 100%;
    }

    .search-bar input, .search-bar button {
        width: 100%; /* Make input and button take full width */
        margin-right: 0;
        margin-bottom: 5px; /* Space between input and button */
    }

    /* Reduce padding on the footer for small screens */
    footer {
        padding: 5px 10px;
        height: auto; /* Let the height adjust based on content */
    }

    /* Adjust the dropdown menu */
    .dropdown-menu {
        position: relative;
        box-shadow: none; /* Remove box shadow for a cleaner look on small screens */
    }

    /* Make the logo smaller on small screens */
    .logo {
        max-width: 60px;
        height: auto;
    }
}
