/* Style the filter dropdown menu for the Projects section */
.projects-filter-dropdown {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 150px; /* Set a specific width for the dropdown */
}

/* Style the filter dropdown menu items */
.projects-filter-dropdown li {
    display: block;
    text-align: center;
}

/* Style the filter dropdown links */
.projects-filter-dropdown a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    padding: 10px 20px;
    width: 100%; /* Make links fill the container width */
    box-sizing: border-box; /* Include padding and border in the total width */
}
@media screen and (max-width: 768px) {
    .logo {
        max-width: 80px; /* Same as desktop */
        height: 15px; /* Maintain aspect ratio */
        margin-right: 5px; /* Same as desktop */
    }
    
    nav ul {
        list-style: none; /* Ensure it remains consistent */
        display: flex; /* Same as desktop */
        justify-content: center; /* Center menu horizontally */
        margin: 0; /* Same as desktop */
    }

    nav ul li {
        margin-right: 20px; /* Keep spacing consistent */
    }

    nav a {
        text-decoration: none; /* Keep consistent styling */
        color: #ffffff;
        font-size: 18px; /* Match desktop */
        font-family: Arial, sans-serif;
    }
}